* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: auto;
    font-size: 16px; /* Adjusted font size */
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: auto;
    padding: 15px 70px; /* Adjusted padding */
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 20px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #052247, #054347, #58DCDC, #052247);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    color: #ffffff; /* Change text color */
}

.btn-hover.color-4 {
    background-image: linear-gradient(to right, #56FDEF, #56FDB1, #31B7E3, #31E39C);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    color: #000000; /* Change text color */
}
